//Tutto quello che è valido in un file HTML è valido in un file EJS

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1 class="title">Pagina home</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque dignissimos dolores facere veritatis ex accusantium? In ullam molestiae sed non molestias, praesentium porro magni expedita cum, voluptatum error! Repudiandae, qui?</p>
  </header>
</body>
</html>